<h2>Add Customer</h2>

<form action="/add" method="post">

Name:<br>
<input name="name"><br><br>

Phone:<br>
<input name="phone"><br><br>

<h3>Shirt Measurements</h3>

Length:<br>
<input name="shirt_length"><br>

Shoulder:<br>
<input name="shoulder"><br>

Sleeve:<br>
<input name="sleeve"><br>

Chest:<br>
<input name="chest"><br>

Stomach:<br>
<input name="stomach"><br>

Hip:<br>
<input name="shirt_hip"><br>

Collar:<br>
<input name="collar"><br><br>

<h3>Pant Measurements</h3>

Length:<br>
<input name="pant_length"><br>

Waist:<br>
<input name="waist"><br>

Hip:<br>
<input name="pant_hip"><br>

Thigh:<br>
<input name="thigh"><br>

Knee:<br>
<input name="knee"><br>

Bottom:<br>
<input name="bottom"><br>

Fork:<br>
<input name="fork"><br><br>

<button type="submit">Save</button>

</form>

<br><br>

<a href="/search">Search Customer</a>

<br><br>

<a href="/customers">Customer List</a>

